*body{
    margin: 0;
    padding: 0;
}
.logo img{
    margin-right: 80%;
}
.logo {
    background-color: black;
    padding: 5px;
}
.header-iteam {
    background-color:#ebebeb60;
    padding: 10px;
}
.revenue {
    color: #FFC107;
}
.title-name{
    margin: 10px;
    font-size: 40px;
    color: black;
    position: relative;
    font-weight: 500;
}
.bng {
    color: #0DCAF0;
}